<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.prototype2">

    <!--Add the permission for connecting to the internet-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/splash_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="sensor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.IncidentListView" />
        <activity android:name=".AddReportActivity" />
        <activity android:name=".CoachAdviceActivity" />
        <activity android:name=".views.QuizActivity" />
        <activity android:name=".views.Symptoms" />
        <activity android:name=".CoachRegistrationActivity" />
        <activity android:name=".views.RedFlagActivity" />
        <activity android:name=".views.PlayerListViewActivity" />
        <activity android:name=".views.AllIncidentsListView" />
        <activity android:name=".UserProfile" />
        <activity android:name=".PlayerLoginActivity" />
        <activity android:name=".RecoveryActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".CoachProfile" />
        <activity android:name=".views.ObservableSignsActivity" />
        <activity android:name=".CoachLoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>